<!DOCTYPE html>
<html>
    <body>
        
        <form action="/Login" method="POST" name="regForm" style="text-align:center;padding:220px;background-color: black;">
            <h1 style="color:rgb(234, 234, 240) ;">Login</h1>
            <label aria-setsize="20" style="color:aliceblue;">Email: <input type="email" id="Email"></label><br>
            <br>
            <label aria-setsize="20" style="color:aliceblue;">Password: <input type="password" id="pwd"></label><br><br>
            <input type="submit" class="login" value="Login" onclick="validation()"><br><br>

            <a href="/" style="color:aliceblue;">Home</a>
            <a href="/signup" style="color:aliceblue;">Signup</a>
        </form>
    </body>
</html>