<!DOCTYPE html>
<html>
    <body>
        <form name="Form" style="text-align:center;padding:220px;background-color: black;">
            <h1 style="color:rgb(234, 234, 240) ;">Signup</h1>
            <label aria-setsize="20" style="color:aliceblue;">Name:</label>
            <input type="text" id="Name"><br><br>
            <label aria-setsize="20" style="color:aliceblue;">Email: <input type="email" id="Email"></label><br><br>
            <label aria-setsize="20" style="color:aliceblue;">Phone No: <input type="number" maxlength="10" id="ph"></label><br><br>
            <label aria-setsize="20" style="color:aliceblue;">Password: <input type="password" id="pwd"></label><br><br>
            <input type="submit"  value="Signup" onclick="submit"><br><br>
            <a href="/Login" style="color:aliceblue;">Login</a>
            <a href="/" style="color:aliceblue;">Home</a>
        </form>
    </body>
</html>