@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    overflow-y: hidden;
}
nav{
    height: 80px;
    width: 100vw;
    /* background-color: rgb(220, 245, 236); */
    position: relative;
}
nav h1{
    position: absolute;
    left: 2em;
    top: 20px;
    font-size: 29px;
}
.nav-rgt{
    position: absolute;
    right: 2em;
    top: 0;
    padding: 15px 3em 15px 0;


}
.nav-rgt button{
    background: #37CD9B;
    border: none;
    border-radius: 10px;
    width: 9ch;
    height: 44px;
    margin-inline-start:15px;
    font-size: medium;
    font-family: poppins;
    color: white;
    transform: scale(1,1);
    transition: transform 500ms ease;
}
.nav-rgt button:hover{
    transform:scale(1.1,1.1);
}
.container{
    display: flex;
    position: relative;
}
.left-contain{
    position: absolute;
    display: grid;
    place-content: center;
    max-width: 40em;
    height: calc(100vh - 80px);
    padding: 5em;
    gap: 10px;
    /* border: 2px solid red; */
    /* color: red; */
}
.left-contain h1{
    font-size: 50px;
}
.right-contain{
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}
.right-contain img{
    max-width: 800px;
}
@media only screen and (max-width:1200px){
    .right-contain img{
        width: 650px;
    }
}